<% if comment.valid? %>
  <div class="comment">
    <p>
      <strong>Posted by:</strong>
      <%= comment.commenter %>
    </p>

    <p><%= comment.body %></p>

    <%= link_to "Delete", "/articles/#{@article.id}/comments/#{comment.id}", data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, class: "btn btn-danger" %>

  </div>
<% end %>