.navbar {
  background-color: #f4f4f4;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }

p {
  font-size: 12px;
}

.articles {
  list-style-type: none;
}

.post-links, .modify-post-links {
  a {
    display: block;
    text-decoration: none;
    text-align: left;
    margin-bottom: 10px;
  }
}

.comment {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  margin-bottom: 10px;
  p {
    margin-bottom: 0;
  }
  .btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.article-form, .comment-form {
  input, textarea {
    width: 100%;
    border: 1px solid;
    border-color: #cecece;
    border-radius: 6px;
    resize: none;
  }
  .field_with_errors {
    input, textarea {
      border-color: red;
    }
  }
  .btn {
    border: 0;
    margin-bottom: 25px;
  }
  .commenter, .article-title {
    height: 40px;
    padding: 15px;
  }
  textarea {
    height: 100px;
    padding: 15px;
    vertical-align: top;
  }
  .form-set {
    margin-bottom: 15px;
    font-size: 12px;
  }
  .errors {
    color: red;
    font-size: 10px;
    margin-bottom: 10px;
  }

}